@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F4F4F4;
}

body{
  background-color: #F4F4F4;
}

/*Começo da NavBar*/

/*Começo animação*/
.cta {
  border: none;
  background: none;
  cursor: pointer;
}


.cta span {
  padding-bottom: 7px;
  font-size: 17px;
  padding-right: 14px;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  border: none;
  background: none;
  transform: translateX(0);
}

.cta:focus {
  outline: none;
}

.cta:active svg {
  border: none;
  background: none;
  transform: scale(0.9);
}

/*cadastro*/
.cadastro {
  position: relative;
  color: #4E9E5A;
  padding-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

.cadastro:after {
  content: "";
  position: absolute;
  width: 86%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #004852;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .cadastro:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*login*/
.login {
  position: relative;
  color: #4E9E5A;
  padding-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

.login:after {
  content: "";
  position: absolute;
  width: 83%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #004852;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .login:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*contato*/
.contato {
  position: relative;
  color: #4E9E5A;
  padding-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

.contato:after {
  content: "";
  position: absolute;
  width: 83%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #004852;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .contato:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*sobreNos*/
.sobreNos {
  position: relative;
  color: #4E9E5A;
  padding-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

.sobreNos:after {
  content: "";
  position: absolute;
  width: 87%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #004852;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .sobreNos:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*ideias*/
.ideias {
  position: relative;
  color: #4E9E5A;
  padding-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

.ideias:after {
  content: "";
  position: absolute;
  width: 79%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #004852;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .ideias:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*Fim animação*/

button{
  background-color: #520000;
}

.nav-item{
  color:#4E9E5A;
  font-weight: bold;
}

.animacao:hover{
  color: #004852;
}

.nav-link{
  color: #4E9E5A;
}

.navbar{
  background-color: #F4F4F4;
}

.navBar{
  background-color: #F4F4F4;
}

.navbarAccessed{
  color: #57cc99;
}

.navbarIcon{
  height: 50px;
}

/*Fim da NavBar*/

/*Começo do Título Principal*/
#tituloPrincipal{
  display: flex;
  justify-content: center;
  margin-top: 8%;
  margin-bottom: 3%;
}

#folha{
  margin-top: -3px;
  margin-right: 5px;
  width: 2.5em;
  height: 2.5em;
}

#escritaPrincipal{
  color: #05440F;
  font-size: 35px;
  text-transform: uppercase;
}
/*Fim do Título Principal*/

/*Início dos Cards*/

.cards{
  display: flex;
  justify-content: center;
}

.card{
  margin: 1%;
}

a:link{
  color: black;
  text-decoration: none;
}

.card a:hover {
  color: black;
  text-decoration: none; /* Remove a linha embaixo do link quando o mouse passa por cima */
}

.card-img-top {
  height: 150px; /* Defina a altura desejada para as imagens */
  object-fit: cover; /* Isso garante que a imagem cubra todo o espaço designado, mantendo a proporção */
}

.card {
  width: 14rem; /* Define a largura de cada card para 50% do contêiner (menos uma pequena margem) */
  margin-bottom: 20px; /* Adiciona margem na parte inferior de cada card para espaçamento entre eles */
}

.card-body {
  padding: 7px; /* Reduza o preenchimento interno do corpo do card */
}

.card-title {
  font-size: 1.1rem; /* Reduza o tamanho do título do card */
  text-align: center;
}

.card-text {
  font-size: 0.9rem; /* Reduza o tamanho do texto do card */
}

/*Fim dos Cards*/

/*Início do botão*/
#confira {
  --color: #F4F4F4;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  background-color: #05440F;
 }
 
 #confira:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 #confira:hover {
  color:#4E9E5A;
 }
 
 #confira:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 #confira:hover:before {
  top: -30px;
  left: -30px;
 }
 
 #confira:active:before {
  background: #05440F;
  transition: background 0s;
 }

 #botao{
  display: flex;
  justify-content: center;
 }
/*Fim do botão*/

/*Começo do Título Plástico*/
#tituloPlastico{
  display: flex;
  justify-content: left;
  margin-top: 1%;
  margin-left: 15%;
}

#sacola{
  margin-top: -10px;
  margin-right: 7px;
  width: 2.5em;
  height: 2.5em;
}

#escritaPlastico{
  color: #CF1212;
  font-size: 25px;
  text-transform: uppercase;
}
/*Fim do Título Plástico*/

/*Início do Carrosel de Plástico*/

.cards-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-wrapper > .card{
  height: 13em;
  text-align: center;
}

.cards-wrapper > .card > .card-body{
  height: 2em;
}


#carouselExampleControls{
  width: 65em;
}

