@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F4F4F4;
}

body{
  background-color: #F4F4F4;
}

/*Começo da NavBar*/

/*Começo animação*/
.cta {
  border: none;
  background: none;
  cursor: pointer;
}


.cta span {
  padding-bottom: 7px;
  font-size: 17px;
  padding-right: 14px;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  border: none;
  background: none;
  transform: translateX(0);
}

.cta:focus {
  outline: none;
}

.cta:active svg {
  border: none;
  background: none;
  transform: scale(0.9);
}

/*cadastro*/
.cadastro {
  position: relative;
  color: #4E9E5A;
  padding-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

.cadastro:after {
  content: "";
  position: absolute;
  width: 86%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #004852;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .cadastro:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*login*/
.login {
  position: relative;
  color: #4E9E5A;
  padding-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

.login:after {
  content: "";
  position: absolute;
  width: 83%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #004852;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .login:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*contato*/
.contato {
  position: relative;
  color: #4E9E5A;
  padding-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

.contato:after {
  content: "";
  position: absolute;
  width: 83%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #004852;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .contato:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*sobreNos*/
.sobreNos {
  position: relative;
  color: #4E9E5A;
  padding-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

.sobreNos:after {
  content: "";
  position: absolute;
  width: 87%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #004852;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .sobreNos:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*ideias*/
.ideias {
  position: relative;
  color: #4E9E5A;
  padding-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

.ideias:after {
  content: "";
  position: absolute;
  width: 79%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #004852;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .ideias:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*Fim animação*/

button{
  background-color: #520000;
}

.nav-item{
  color:#4E9E5A;
  font-weight: bold;
}

.animacao:hover{
  color: #004852;
}

.nav-link{
  color: #4E9E5A;
}

.navbar{
  background-color: #F4F4F4;
}

.navBar{
  background-color: #F4F4F4;
}

.navbarAccessed{
  color: #57cc99;
}

.navbarIcon{
  height: 50px;
}

/*Fim da NavBar*/

/*Começo do Título Principal*/
#tituloPrincipal{
  display: flex;
  justify-content: center;
  margin-top: 8%;
  margin-bottom: 3%;
}

#folha{
  margin-top: -9px;
  margin-right: 5px;
  width: 2.7em;
  height: 2.7em;
}

#escritaPrincipal{
  color: #05440F;
  font-size: 35px;
  text-transform: uppercase;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.422);
}
/*Fim do Título Principal*/

/*Início dos Cards*/

div#card1.card{
  border: 50px 50px 50px 50px #004852;
}

.cards{
  display: flex;
  justify-content: center;
}

.card{
  margin: 1%;
}

a:link{
  color: black;
  text-decoration: none;
}

.card a:hover {
  color: black;
  text-decoration: none; /* Remove a linha embaixo do link quando o mouse passa por cima */
}

.card-img-top {
  height: 150px; /* Defina a altura desejada para as imagens */
  object-fit: cover; /* Isso garante que a imagem cubra todo o espaço designado, mantendo a proporção */
}

.card {
  width: 14rem; /* Define a largura de cada card para 50% do contêiner (menos uma pequena margem) */
  margin-bottom: 20px; /* Adiciona margem na parte inferior de cada card para espaçamento entre eles */
  box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.241);
}

.card-body {
  padding: 7px; /* Reduza o preenchimento interno do corpo do card */
}

.card-title {
  font-size: 1.1rem; /* Reduza o tamanho do título do card */
  text-align: center;
}

.card-text {
  font-size: 0.9rem; /* Reduza o tamanho do texto do card */
}

/*Fim dos Cards*/

/*Início do botão*/
 #botao{
  display: flex;
  justify-content: center;
 }
/*Fim do botão*/

/*Começo dos Subtítulos*/
#titulos{
  display: flex;
  justify-content: left;
  margin-top: 1%;
  margin-left: 15%;
}

#titulos > img{
  margin-top: -10px;
  margin-right: 7px;
  width: 2.5em;
  height: 2.5em;
}

/*Fim dos Subtítulos*/

/*Início do Carrosel*/

.cards-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-wrapper > .card{
  height: 13em;
  text-align: center;
  box-shadow: none;
}

.cards-wrapper > .card > .card-body{
  height: 2em;
  
}


#carouselExampleControls, #carouselExampleControlsVidro, #carouselExampleControlsPapel, #carouselExampleControlsMetal, #carouselExampleControlsOrganico, #carouselExampleControlsMadeira{
  width: 65em;
}
/*Fim do Carrossel*/

#plastico{
  color: #CF1212;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.422);
}

#vidro{
  color: #4E9E5A;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.422);
}

#papel{
  color: #55A4DD;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.422);
}

#metal{
  color: #FFC30F;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.288);
}

#organico{
  color: #A8642B;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.422);
}

#madeira{
  color: #423023;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.422);
}


/*Início do botão vidro*/
#vejamaisVidro {
  --color: #F4F4F4;
  font-family: inherit;
  display: inline-block;
  width: 10em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 20px;
  font-weight: 500;
  color: var(--color);
  background-color: #4E9E5A;
 }
 
 #vejamaisVidro:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 250px;
  border-radius: 50%;
 }
 
 #vejamaisVidro:hover {
  color:#4E9E5A;
 }
 
 #vejamaisVidro:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 #vejamaisVidro:hover:before {
  top: -30px;
  left: -30px;
 }
 
 #vejamaisVidro:active:before {
  background: #4E9E5A;
  transition: background 0s;
 }
/*Fim do botão vidro*/


/*Início do botão plástico*/
#vejamaisPlastico{
  --color: #F4F4F4;
  font-family: inherit;
  display: inline-block;
  width: 10em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 20px;
  font-weight: 500;
  color: var(--color);
  background-color: #CF1212;
 }
 
 #vejamaisPlastico:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 250px;
  border-radius: 50%;
 }
 
 #vejamaisPlastico:hover {
  color:#CF1212;
 }
 
 #vejamaisPlastico:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 #vejamaisPlastico:hover:before {
  top: -30px;
  left: -30px;
 }
 
 #vejamaisPlastico:active:before {
  background: #CF1212;
  transition: background 0s;
 }
/*Fim do botão plástico*/

/*Início do botão papel*/
#vejamaisPapel{
  --color: #F4F4F4;
  font-family: inherit;
  display: inline-block;
  width: 10em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 20px;
  font-weight: 500;
  color: var(--color);
  background-color: #55A4DD;
 }
 
 #vejamaisPapel:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 250px;
  border-radius: 50%;
 }
 
 #vejamaisPapel:hover {
  color:#55A4DD;
 }
 
 #vejamaisPapel:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 #vejamaisPapel:hover:before {
  top: -30px;
  left: -30px;
 }
 
 #vejamaisPapel:active:before {
  background: #55A4DD;
  transition: background 0s;
 }
/*Fim do botão papel*/

/*Início do botão metal*/
#vejamaisMetal{
  --color: #F4F4F4;
  font-family: inherit;
  display: inline-block;
  width: 10em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 20px;
  font-weight: 500;
  color: var(--color);
  background-color: #FFC30F;
 }
 
 #vejamaisMetal:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 250px;
  border-radius: 50%;
 }
 
 #vejamaisMetal:hover {
  color:#FFC30F;
 }
 
 #vejamaisMetal:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 #vejamaisMetal:hover:before {
  top: -30px;
  left: -30px;
 }
 
 #vejamaisMetal:active:before {
  background: #FFC30F;
  transition: background 0s;
 }
/*Fim do botão metal*/

/*Início do botão organico*/
#vejamaisOrganico{
  --color: #F4F4F4;
  font-family: inherit;
  display: inline-block;
  width: 10em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 20px;
  font-weight: 500;
  color: var(--color);
  background-color: #A8642B;
 }
 
 #vejamaisOrganico:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 250px;
  border-radius: 50%;
 }
 
 #vejamaisOrganico:hover {
  color:#A8642B;
 }
 
 #vejamaisOrganico:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 #vejamaisOrganico:hover:before {
  top: -30px;
  left: -30px;
 }
 
 #vejamaisOrganico:active:before {
  background: #A8642B;
  transition: background 0s;
 }
/*Fim do botão organico*/

/*Início do botão madeira*/
#vejamaisMadeira{
  --color: #F4F4F4;
  font-family: inherit;
  display: inline-block;
  width: 10em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 20px;
  font-weight: 500;
  color: var(--color);
  background-color: #423023;
 }
 
 #vejamaisMadeira:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 250px;
  border-radius: 50%;
 }
 
 #vejamaisMadeira:hover {
  color:#423023;
 }
 
 #vejamaisMadeira:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 #vejamaisMadeira:hover:before {
  top: -30px;
  left: -30px;
 }
 
 #vejamaisMadeira:active:before {
  background: #423023;
  transition: background 0s;
 }
/*Fim do botão madeira*/



